<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Sara Laman">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Sara Laman professional website">
    <title>Sara Laman</title>
</head>
<body style="font-family: Arial, Helvetica, sans-serif">
    <header>
        <h1>Sara Laman</h1>
        <nav>
            <a href="../index.html"> Home</a>
            <a href="./cv.html"> CV</a>
            <a href="./contact.html"> Contact Me</a>
            <a href="./fun.html"> For Fun</a> 
         </nav>
    </header>
    <div class="main"><h2>Contact Me</h2></div>
    <form>
        <label for="name">Your name (required)</label>
        <input type="text" id="name" name="name" required>
        <label for="email">Your email</label>
        <input type="email" id="email" name="email">
        <label for="comment">Your comment</label>
        <textarea id="comment" name="comment" rows="7" cols="20"></textarea>
        <input type="submit" value="SEND">
    </form>
    <table border="1">
        <tr>
            <th>Contact Method Description</th>
            <th>Contact Information</th>
        </tr>
        <tr>
            <td>Email</td>
            <td>slaman@andrew.cmu.edu</td>
        </tr>
        <tr>
            <td>Phone</td>
            <td>412-652-4691</td>
        </tr>
    </table>
    <footer>&copy; 2025 designed &#x1F3A8; and coded &#x1F469;&#x200D;&#x1F4BB; by Sara Laman</footer>
</body>
</html>