<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Sara Laman">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Sara Laman professional website">
    <title>Sara Laman</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1 id="webname">Sara Laman</h1>
        <nav class="nav-bar">
            <a href="../index.html" class="nav-item"> About</a>
            <a href="./cv.html" class="nav-item"> Resume</a>
            <a href="./fun.html" class="nav-item"> Play</a>
            <a href="./contact.html" class="nav-item"> Contact</a> 
         </nav>
    </header>
    <div class="main">
        <h2>Things I love to do for fun</h2>
        <ul>
            <li>Baking/cooking</li>
            <li>Swimming</li>
            <li>Playing board games</li>
            <li>Listening to music</li>
            <li>Crafting</li>
        </ul>
    </div>
    <footer>&copy; 2025 designed &#x1F3A8; and coded &#x1F469;&#x200D;&#x1F4BB; by Sara Laman</footer>
</body>
</html>