* {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  padding: 5px;
  margin: 5px;
}

#webname {
  color: black;
  background-color: #bbf3f5;
}

.nav-bar a {
  text-decoration: none;
  font-size: 20px;
  color: black;
  margin-right: 15px;
}

.nav-item:hover {
  background-color: #bbf3f5;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #bbf3f5;
  font-size: 18px;
  color: gray;
  width: fit-content;
}

tr:nth-child(even) {
  background-color: lightgray;
}

tr:nth-child(odd) {
  background-color: white;
}

form * {
  display: block;
  margin: auto;
  text-align: center;
}

input[type="submit"] {
  background-color: #bbf3f5;
  border: none;
  border-radius: 5px;
}

#activityList {
  display: none;
}

#getMoreBtn {
  background-color: #bbf3f5;
  border: none;
  border-radius: 5px;
}

#longIntro {
  display: none;
}

#readLessBtn {
  display: none;
  border: none;
  background-color: lightgray;
}

#readMoreBtn {
  border: none;
  background-color: lightgray;
}

#validationMsg {
  display: none;
  text-align: center;
  font-weight: bold;
}
