* {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  padding: 5px;
  margin: 5px;
}

#webname {
  color: black;
  background-color: #bbf3f5;
}

.nav-bar a {
  text-decoration: none;
  font-size: 20px;
  color: black;
  margin-right: 15px;
}

.nav-item:hover {
  background-color: #bbf3f5;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #bbf3f5;
  font-size: 18px;
  color: gray;
  width: fit-content;
}

tr:nth-child(even) {
  background-color: lightgray;
}

tr:nth-child(odd) {
  background-color: white;
}

form * {
  display: block;
  margin: auto;
  text-align: center;
}

input[type="submit"] {
  background-color: #bbf3f5;
  border: none;
  border-radius: 5px;
}

input[type="submit"]:hover {
  filter: brightness(90%);
}

/* #activityList {
  display: none;
} */

#getMoreBtn {
  background-color: #bbf3f5;
  border: none;
  border-radius: 5px;
}

#getMoreBtn:hover {
  filter: brightness(90%);
}

#longIntro {
  display: none;
}

#readLessBtn {
  display: none;
  border: none;
  background-color: lightgray;
}

#readLessBtn:hover {
  filter: brightness(90%);
}

#readMoreBtn {
  border: none;
  background-color: lightgray;
}

#readMoreBtn:hover {
  filter: brightness(90%);
}

#validationMsg {
  display: none;
  text-align: center;
  font-weight: bold;
}

.funIMG {
  border-radius: 100%;
}

.container {
  display: inline-block;
  border-radius: 10px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}

#adviceBtn {
  background-color: #bbf3f5;
  border: none;
  border-radius: 5px;
}

#adviceBtn:hover {
  filter: brightness(90%);
}

.mainLayout {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.item {
  width: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.funIMG {
  width: 90%;
  height: 90%;
}

#itemList {
  flex-direction: column;
}

#map {
  flex-direction: column;
}

#contactForm {
  flex-direction: column;
}
